.s_bmi_snippet {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.s_bmi_snippet .calculator-box {
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    transition: background-color 0.3s;
    background-color: #ffffff;
}

.s_bmi_snippet h3 {
    color: #ff7fa7;
    font-size: 24px;
    margin-bottom: 20px;
}

.s_bmi_snippet .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.s_bmi_snippet label {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    display: inline-block;
    margin-right: 10px;
}

.s_bmi_snippet .form-control {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.s_bmi_snippet .form-control-index {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f7f1f3;
}

.s_bmi_snippet .btn {
    background-color: #ff7fa7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.s_bmi_snippet .btn:hover {
    background-color: #ff507f;
}

.s_bmi_snippet #resultats {
    font-family: cursive;
    margin-top: 10px;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px);
    max-width: 450px;
    height: auto;
    transition: background-color 0.3s;
}

.s_bmi_snippet #recalculerBtn {
    margin-top: 20px;
    display: none;
}

.s_bmi_snippet #canvasContainer {
    display: none;
    text-align: center;
}

.s_bmi_snippet input[type="radio"] + label {
    font-size: 14px;
    margin-right: 10px;
    color: #555;
}

.s_bmi_snippet input[type="radio"] {
    margin-right: 5px;
}

.s_bmi_snippet #curveImage {
    width: auto;
    height: auto;
    max-width: 100%;
}

.s_bmi_snippet #curveCanvas {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .s_bmi_snippet .calculator-box {
        width: 90%;
    }

    .s_bmi_snippet .form-control,
    .s_bmi_snippet .form-control-index {
        width: 100%;
    }
}
